* {
    // font-family: 'Poppins', sans-serif;
    // font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    color: rgb(80, 80, 80);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .form-main-container {
//     min-width: 750px;
//     width: 60%;
//     min-height: 130vh;
//     margin: 50px auto;
//     padding-bottom: 300px;
//     display: grid;
//     grid-template-columns: calc(66.6666% - 10px) calc(33.3333% - 10px);
//     grid-gap: 10px;
//     // border: solid 2px rgb(52, 184, 0);
// }

// .form-block-container {
//     width: 100%;
//     // border: solid 2px red;
// }



// .btn-bcknd {
//     height: 50px;
//     padding: 0 25px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     background-color: rgb(250, 250, 250);
//     color: rgb(99, 99, 99);
//     border-radius: 5px;
//     border: solid 1px rgb(220, 220, 220);
//     transition: ease-in-out 0.15s;
// }

// .btn-bcknd:hover {
//     cursor: pointer;
//     color: rgb(90, 90, 90);
//     background-color: rgb(250, 250, 250);
//     border: solid 1px rgb(19, 82, 255);
// }

.btn-submit {
    height: 50px;
    padding: 0 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 82, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.15s;
}

.btn-submit:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.btn-effacer-tout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.15s;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    border: rgb(19, 82, 255) solid 2px;
    border-radius: 5px;
    color: #464646;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.btn-effacer-tout:hover {
    cursor: pointer;
    border-width: 3px;
    border-radius: 25px;
}

.div-label-inputTxt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // border: solid 2px rgb(17, 120, 218);
}

.sub-div-vert-align-border-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0 15px 0;
    padding: 15px 0;
    border-top: rgb(220, 220, 220) solid 1px;
}

.div-radio-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.div-radio-label label:hover {
    cursor: pointer;
}



.sub-div-vert-align p,
.sub-div-horiz-align p,
.sub-div-vert-align span,
.sub-div-horiz-align span {
    // width: 100%;
    overflow-wrap: break-word;
}

#includOnlyNewProducts {
    transform: scale(1.3);
    margin-right: 12px;
    margin-left: 4px;
}

#includOnlyNewProducts:hover {
    cursor: pointer;
}

.sub-div-horiz-align p {
    max-width: 100%;
}

.block-select-conditions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30px;
    column-gap: 10px;
    align-content: center;
    margin-bottom: 15px;

    // for input & span
    .input-span {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .typeValue {
        width: 35px;
        padding-left: 3px;
        text-align: center;
    }

    .remove-condition {
        width: 30px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trashRemoveCondition {
        display: inline !important;
        font-size: 22px;
        color: black;
        margin: 0;
    }

    .remove-condition .trashRemoveCondition:hover .faTrashIcon {
        transform: scale(1.15);
    }
}

// side -------------------------------
// .form-side-container {

//     // border: solid 1px rgb(52, 184, 0);
// }

.settings {
    width: 25px;
}

// .tooltip_ {
//     position: relative;
// }

// /* Tooltip text */
// .tooltip_ .tooltiptext,
// .listCollections .tooltip_ .tooltiptext {
//     visibility: hidden;
//     width: 300px;
//     bottom: 100%;
//     left: -50%;
//     margin-bottom: 0;
//     // background-color: #f3f4f6; //rgb(255, 255, 255);
//     color: rgb(75, 75, 75);
//     text-align: left;
//     padding: 12px 12px 35px 12px;
//     border-radius: 5px;
//     font-weight: normal;
//     letter-spacing: 1px;
//     position: absolute;
//     z-index: 10;
//     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//     border: solid 2px #d2e7ff;
//     transition-delay: 0.2s;
//     background-color: white;
// }

// /* Show the tooltip_ text when you mouse over the tooltip_ container */
// .tooltip_:hover .tooltiptext,
// .listCollections .tooltip_:hover .tooltiptext {
//     visibility: visible;
//     -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
//         both;
//     animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
//     transition-delay: 0s;
//     cursor: default;
// }

// .tooltip_:hover,
// .listCollections .tooltip_:hover {
//     cursor: pointer;
// }

// // list collection

// // .listCollections {
// //     background-color: #f6f6f7;
// // }

// // .listCollections img {
// //     width: 100%;
// // }


// // .listCollections div {
// //     // border: solid green 1px;
// // }

// // animation link toolTip________________________________________________
//  .linkInTooltip {
//     position: absolute;
//     bottom: 6px;
//     left: 10px;
//     cursor: pointer;
//     text-decoration: none;
//     color: rgb(50, 115, 255);
// }

// .linkInTooltip:hover {
//     font-weight: bold;
// }

//  .linkInTooltip::before {
//     content: "";
//     position: absolute;
//     background: rgb(71, 71, 71);
//     width: 100%;
//     height: 1px;
//     bottom: 0;
//     transform-origin: 100% 0;
//     transform: scaleX(0);
//     transition: transform 0.4s;
// }

//  .linkInTooltip:hover::before {
//     transform-origin: 0 0;
//     transform: scaleX(1);
// }
// // ________________________________________________animation link toolTip

/* Toggle Button ------------------------------*/
.cm-toggle {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
    content: "";
    width: 48px;
    height: 24px;
    display: inline-block;
    background: rgba(204, 204, 204, 0.55);
    border-radius: 12px;
    clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
    left: 24px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
    background: #005cc8;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}
//----------------------------------------toogle button

.apercuMetaTitle2 {
    color: rgb(187, 187, 187);
    max-width: 100%;
}

// .inRed {
//     color: rgb(201, 0, 0);
// }

.borderRed {
    border: solid 2px rgb(212, 0, 0);
}

.inputTypeDate {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
}

.succesMessage {
    display: block;
    color: rgb(11, 179, 11);
}

.mb15 {
    margin-bottom: 15px;
}

// category --------------------------------------
.pos-abs-bot-rig-15 {
    margin-left: auto;
}

.categorySelect {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.btn-select-category {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    // margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 99, 99);
    border-radius: 5px 5px 0 0;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.4s;
}

.btn-select-category:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.ul-category {
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    border-radius: 0 0 5px 5px;
}

.dropable {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.05s ease-out;
}

// .scroll1::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     // border-radius: 10px;
//     background-color: #f5f5f5;
// }

// .scroll1::-webkit-scrollbar {
//     width: 9px;
//     background-color: #f5f5f5;
// }

// .scroll1::-webkit-scrollbar-thumb {
//     // border-radius: 10px;
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     background-color: rgb(173, 195, 255);
// }

.li-category {
    min-width: 250px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-bottom: rgb(220, 220, 220) solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-category:hover {
    cursor: pointer;
    background-color: rgb(218, 229, 255);
}

.li-category:first-child {
    border-top: none;
}

.li-category:last-child {
    border-bottom: none;
}

.li-category:hover span {
    cursor: pointer;
    color: rgb(52, 115, 252);
    font-weight: bold;
}

.li-category span:hover {
    cursor: pointer;
    color: rgb(52, 115, 252);
    font-weight: bold;
}


.li-category:hover .faRecycle {
    display: inline;
}

.li-category:hover .faTrash {
    display: inline;
}

.childrenModal {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.30rem;
    margin: 30px 0 0 0;
}

i.fa-solid .fa-person-biking {
    font-size: 1.25rem;
    color: black;
}




// // ANIMATION BORDER REINITIALISATION BUTTON ------------------------

// .btn-effacer-tout {
//     margin-left: auto;
//     position: relative;
//     top: 0;
//     background-color: rgb(255, 255, 255);
//     border: #005cc8 solid 1px;
//     border-radius: 5px;
//     color: #005cc8;
//     font-size: 17px;
//     font-weight: bold;
// }

// .btn-effacer-tout:hover {
//     cursor: pointer;
//     // box-shadow: 1px 1px 3px rgba(53, 66, 92, 0.6);
// }

// .btn-effacer-tout {
//     width: 150px;
//     height: 50px;
//     border: 1px solid #333;
//     cursor: pointer;
//     -webkit-tap-highlight-color: transparent;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     z-index: 0;
//     transition: .4s;
//   }
  
//   .btn-effacer-tout::before, .btn-effacer-tout::after {
//     position: absolute;
//     background: #fff;
//     z-index: -1;
//     transition: .4s;
//     content: '';
//   }
  
//   .btn-effacer-tout::before {
//     height: 50px;
//     width: 150px;
//   }
  
//   .btn-effacer-tout::after {
//     width: 150px;
//     height: 50px;
//   }
  
//   .noselect {
//     -webkit-touch-callout: none;
//       -webkit-user-select: none;
//        -khtml-user-select: none;
//          -moz-user-select: none;
//           -ms-user-select: none;
//               user-select: none;
//   }
  
//   .btn-effacer-tout:hover::before {
//     width: 0px;
//     background: #fff;
//   }
  
//   .btn-effacer-tout:hover::after {
//     height: 0px;
//     background: #fff;
//   }
  
//   .btn-effacer-tout:hover {
//     background: #fff;
//   }
// // -------------------------ANIMATION BORDER REINITIALISATION BUTTON



//------------------------------------------------------------------------
// classes génériques !!!

// .hidden {
//     animation: disparition 1s;
//     animation-fill-mode: forwards;
// }

// @keyframes disparition {
//     100% {
//         opacity: 0;
//         display: none;
//     }
// }

// .loader {
//     position: absolute;
//     z-index: 1000;
//     width: 60px;
//     top: 40%;
//     left: calc(50% - 30px);
// }
// -------------------------------------------------------------------------

// detect smartphone and tablette screen
@media only screen and (hover: none) and (pointer: coarse) {
    /* Regular CSS rules here*/
}
