* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container-backend {
  width: 100%;
  min-height: 1080px;
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
  background-color: #f6f6f7;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 100%;
}

.card {
  padding: 30px;
}

.card-title {
  font-size: 16px;
}

.btn {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border: solid whitesmoke 1px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 16px;
  transition: ease-in-out 0.15s;
}

.btn:hover {
  background-color: whitesmoke;
  font-weight: bold;
}

.btn a {
  text-decoration: none;
}

button.btn_ajouter {
  width: 180px;
  text-align: center;
  transition: ease-in-out 0.25s;
}

button.btn_ajouter:hover a {
  color: #202223;
}

button.btn_ajouter:hover {
  background-color: whitesmoke;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 7px;
  background-color: white;
}

.table .tr_thead {
  height: 80px;
}

.table tbody {
  vertical-align: middle;
  border-color: inherit;
}

.table tr, .table td {
  height: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}

table td img {
  height: 100px;
}

.table tr {
  padding: 20px;
  border-bottom: solid 1px rgba(245, 245, 245, 0.3);
}

.table .td_id {
  text-align: center;
}

.table .td_buton {
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.table .btn_img {
  border-color: #71c016;
}

.table .btn_img:hover {
  background-color: #71c016;
  color: whitesmoke;
}

.table .btn_edit {
  border-color: #248afd;
}

.table .btn_edit:hover {
  background-color: #248afd;
  color: whitesmoke;
}

.table .btn_delete {
  border-color: #ff4747;
}

.table .btn_delete:hover {
  background-color: #ff4747;
  color: whitesmoke;
}

.navAdmin {
  border-right: solid 1px #cfcfcf;
  height: 100vh;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.navAdmin ul {
  width: 250px;
  list-style-type: none;
  padding: 0;
}

.navAdmin li {
  height: 50px;
  width: 100%;
  border-bottom: solid 1px rgba(235, 235, 235, 0.3);
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activeAdmin {
  background-color: #f7f7f7;
  color: #202223;
  letter-spacing: 1px;
  font-weight: bold;
}

.navAdmin a {
  color: #202223;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.navAdmin .fas, .navAdmin .far {
  margin-right: 15px;
  background-color: #202223;
}

.order_details {
  width: 100%;
  padding: 20px;
  border: solid red 2px;
}

.wrapper_order_detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0;
}

.block_order_detail {
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  border: solid #d8d8d8 1px;
}

.title_order_detail {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.block_order_detail_user,
.block_order_detail_address,
.block_order_detail_addressBill,
.block_order_detail_product {
  width: 32%;
  height: auto;
  min-height: 220px;
  min-width: 350px;
  margin-right: 20px;
}

.block_order_detail_product {
  width: 100%;
}
