* {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #505050;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.collection-main-container {
  min-width: 985px;
  width: 70%;
  min-height: 130vh;
  margin: 50px auto;
  padding-bottom: 300px;
  display: grid;
  grid-template-columns: calc(66.6666% - 10px) calc(33.3333% - 10px);
  grid-gap: 10px;
}

.collection-block-container {
  width: 100%;
}

.div-vert-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: relative;
}
.div-vert-align label {
  width: 100%;
  margin-right: 30px;
}
.div-vert-align input[type=text],
.div-vert-align input[type=number],
.div-vert-align input[type=datetime-local],
.div-vert-align select,
.div-vert-align #activationDate {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: solid 1px gainsboro;
}
.div-vert-align select.flatpickr-monthDropdown-month:hover {
  background-color: #005ac5 !important;
}
.div-vert-align select:hover {
  cursor: pointer;
}
.div-vert-align select option:hover {
  background-color: #a4bdff;
  cursor: pointer;
}
.div-vert-align input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  min-width: 18px;
  width: 18px;
  height: 18px;
  border: 1px solid #005cc8;
  transition: 0.2s all linear;
  margin-right: 10px;
  position: relative;
  top: 0;
  padding: 0;
}
.div-vert-align input[type=radio]:checked {
  border: 4px solid #005cc8;
}
.div-vert-align input[type=radio]:hover {
  cursor: pointer;
}
.div-vert-align textarea {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px gainsboro;
}
.div-vert-align h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
}
.div-vert-align h3 {
  font-size: 18px;
  font-weight: 600;
}
.div-vert-align p {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}
.div-vert-align strong {
  font-size: 15px;
}

.btn-bcknd {
  height: 50px;
  padding: 0 25px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #636363;
  border-radius: 5px;
  border: solid 1px gainsboro;
  transition: ease-in-out 0.15s;
}

.btn-bcknd:hover {
  cursor: pointer;
  color: #5a5a5a;
  background-color: #fafafa;
  border: solid 1px #1352ff;
}

.btn-submit {
  height: 50px;
  padding: 0 25px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1352ff;
  color: white;
  border-radius: 5px;
  border: solid 1px gainsboro;
  transition: ease-in-out 0.15s;
}

.btn-submit:hover {
  cursor: pointer;
  color: black;
  background-color: #fafafa;
  border: solid 1px #1352ff;
}

.btn-effacer-tout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.15s;
  height: 50px;
  width: 150px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  background-color: white;
  border: #1352ff solid 2px;
  border-radius: 5px;
  color: #464646;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.btn-effacer-tout:hover {
  cursor: pointer;
  border-width: 3px;
  border-radius: 25px;
}

.div-label-inputTxt,
.sub-div-vert-align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dropable {
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.sub-div-vert-align-border-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0 15px 0;
  padding: 15px 0;
  border-top: gainsboro solid 1px;
}

.div-radio-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.div-radio-label label:hover {
  cursor: pointer;
}

.sub-div-horiz-align {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sub-div-vert-align p,
.sub-div-horiz-align p,
.sub-div-vert-align span,
.sub-div-horiz-align span {
  width: 100%;
  overflow-wrap: break-word;
}

#includOnlyNewProducts {
  transform: scale(1.3);
  margin-right: 12px;
  margin-left: 4px;
}

#includOnlyNewProducts:hover {
  cursor: pointer;
}

.sub-div-horiz-align p {
  max-width: 100%;
}

.block-select-conditions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-content: center;
  margin-bottom: 15px;
}
.block-select-conditions .input-span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.block-select-conditions .typeValue {
  width: 35px;
  padding-left: 3px;
  text-align: center;
}
.block-select-conditions .remove-condition {
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-select-conditions .trashRemoveCondition {
  display: inline !important;
  font-size: 28px;
  color: black;
  margin: 0;
}

.settings {
  width: 25px;
}

.collection-main-container .fa-question-circle {
  font-size: 16px;
  color: #757575;
  margin-left: 6px;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.collection-main-container .tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  bottom: 100%;
  left: -50%;
  margin-bottom: 0;
  background-color: white;
  color: #4b4b4b;
  text-align: left;
  padding: 12px 12px 35px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 1px;
  position: absolute;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 2px #d2e7ff;
  transition-delay: 0.2s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.collection-main-container .tooltip:hover .tooltiptext {
  visibility: visible;
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition-delay: 0s;
  cursor: default;
}

.linkInTooltip {
  position: absolute;
  bottom: 6px;
  left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #3273ff;
}

.linkInTooltip:hover {
  font-weight: bold;
}

.linkInTooltip::before {
  content: "";
  position: absolute;
  background: #474747;
  width: 100%;
  height: 1px;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.linkInTooltip:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

/* Toggle Button ------------------------------*/
.cm-toggle {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
  content: "";
  width: 48px;
  height: 24px;
  display: inline-block;
  background: rgba(204, 204, 204, 0.55);
  border-radius: 12px;
  clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
  left: 24px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Background color when toggle button will be active */
.cm-toggle:checked:after {
  background: #005cc8;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.apercuMetaTitle2 {
  color: #bbbbbb;
  max-width: 100%;
}

.inRed {
  font-size: 14px;
  color: #c90000;
}

.borderRed {
  border: solid 2px #d40000;
}

.inputTypeDate {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: solid 1px gainsboro;
}

.succesMessage {
  display: block;
  font-size: 18px;
  color: #0bb30b;
}

.mb15 {
  margin-bottom: 15px;
}

.pos-abs-bot-rig-15 {
  margin-top: 15px;
  margin-left: auto;
}

.categorySelect {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.btn-select-category {
  height: 50px;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #636363;
  border-radius: 5px 5px 0 0;
  border: solid 1px gainsboro;
  transition: ease-in-out 0.4s;
}

.btn-select-category:hover {
  cursor: pointer;
  color: #5a5a5a;
  background-color: #fafafa;
  border: solid 1px #1352ff;
}

.ul-category {
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  border-radius: 0 0 5px 5px;
}

.li-category {
  min-width: 250px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-bottom: gainsboro solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-category:hover {
  cursor: pointer;
  background-color: #dae5ff;
}

.li-category:first-child {
  border-top: none;
}

.li-category:last-child {
  border-bottom: none;
}

.li-category:hover span {
  cursor: pointer;
  color: #3473fc;
  font-weight: bold;
}

.li-category span:hover {
  cursor: pointer;
  color: #3473fc;
  font-weight: bold;
}

.collection-main-container .fa-crop,
span.trash-alt-dropZone {
  font-size: 18px;
}

.collection-main-container .fa-crop:hover {
  cursor: pointer;
  color: #3575ff;
  font-weight: bold;
}

.collection-main-container .fa-trash-alt {
  display: none;
  font-size: 18px;
  transition: ease-in-out 0.15s;
}

.collection-main-container .fa-trash-alt:hover {
  cursor: pointer;
  color: #e00000;
  font-weight: bold;
}

.collection-main-container .fa-recycle {
  display: none;
  font-size: 18px;
  margin-right: 10px;
  transition: ease-in-out 0.15s;
}

.collection-main-container .fa-recycle:hover {
  cursor: pointer;
  color: #5bb5ff;
  font-weight: bold;
}

.btn-select-category .fa-trash-alt:hover {
  cursor: pointer;
  color: #e00000;
  font-weight: bold;
}

.btn-select-category .fa-recycle:hover {
  cursor: pointer;
  color: #5bb5ff;
  font-weight: bold;
}

.li-category:hover .fa-recycle {
  display: inline;
}

.li-category:hover .fa-trash-alt {
  display: inline;
}

.childrenModal {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin: 30px 0 0 0;
}

.listContainerCollections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  border: solid 2px red;
}

.headerBarCollections {
  width: 100%;
  border: solid 2px #00aeff;
}

.listContainerCollections table {
  width: 60%;
  margin-top: 50px;
  border: solid 2px #3700ff;
}

@media only screen and (hover: none) and (pointer: coarse) {
  /* Regular CSS rules here*/
}
