.auth {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px auto 330px auto;
    padding: 40px 30px 60px 30px;
    border-radius: 5px;
    font-family: sans-serif; 
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // border: rgb(185, 0, 0) solid 1px;
}

.auth_inscription {
    margin-top: 25px;
    width: 90%;
    max-width: 600px;
}

.auth h1{
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
}

.auth_inscription h1{
    margin: 15px 0 0 0;
}

.auth .auth_label {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 35px 0 0 0;
    color: rgb(80, 80, 80);
}

.auth_inscription .auth_label {
    margin: 20px 0 0 0;
}

.auth .auth_input {
    height: 50px;
    margin-top: 15px;
    padding: 0 15px;
    font: 16px sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px rgb(196, 196, 196);
}

.auth select {

    /* styling */
    width: 100%;
    height: 50px;
    background-color: white;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0 15px;
    border: solid 1px rgb(196, 196, 196);
    color: #757575;
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  .auth select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 25px) calc(50%),
      calc(100% - 20px) calc(50%),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      50px 50px;
    background-repeat: no-repeat;
  }
  
//   .auth select.classic:focus {
//     background-image:
//       linear-gradient(45deg, white 50%, transparent 50%),
//       linear-gradient(135deg, transparent 50%, white 50%),
//       linear-gradient(to right, gray, gray);
//     background-position:
//       calc(100% - 20px) calc(50%),
//       calc(100% - 25px) calc(50%),
//       100% 0;
//     background-size:
//        5px 5px,
//        5px 5px,
//        50px 50px;
//     background-repeat: no-repeat;
//     border-color: grey;
//     outline: 0;
//   }

.auth input:focus {
    border-color: rgb(97, 97, 97);
}

.auth_checkbox {
    width: 10px; 
}

.register_block_name, 
.register_block_cp_city {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    // border: rgb(15, 131, 63) solid 1px;
}

.register_block_name .auth_input, 
.register_block_cp_city .auth_input {
    width: 48%;
}


.register_block_civilite {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-top: 15px;
    padding: 0 15px;
    font: 16px sans-serif;
    width: 100%;
    border: solid 1px rgb(196, 196, 196);
}

.register_block_civilite input:hover, 
.register_block_civilite label:hover {
    cursor: pointer;
}


.auth .auth_remember {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.auth .auth_remember input{
    width: 18px;
    margin-right: 7px;
}

.auth .auth_remember span{
    width: 100%;
    font-size: 15px;
}

#shippingAdresse {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#toggleShipping {
    width: 50px;
    height: 24px;
    border: black solid 1px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 10px 20px 0;
}

#toggleShipping:hover {
    cursor: pointer;
}

#onOffShipping {
    width: 18px;
    height: 18px;
    background-color: rgb(129, 5, 5);
    border-radius: 9px;
    margin-left: 2px;
    transition: ease-in-out .15s;
}

#shippingAdresse h4:hover {
    cursor: pointer;
}

#block_register_2 {
    display: none;
    margin-bottom: 10px;
}

.auth_footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth_inscription .auth_footer{
    margin-top: 50px;
}

.auth button {
    width: auto;
    padding: 8px 15px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px rgb(133, 133, 133);
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.reset_mpd_titre {
    width: 100%;
    margin-top: 140px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reset_mpd_titre h1{
    width: 70%;
    padding: 0 20%;
    font-size: 22px;
    font: 1em sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.auth_resetmdp {
    margin-top: 50px;
}

.auth_footer .auth_footer_resetmdp {
    margin-top: 25px;
}

.rgpd {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

#rgpd {
    margin-right: 10px;
    margin-left: 0;
    width: 18px;
}

#label_rgpd {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.phone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    border: solid 1px rgb(196, 196, 196);
}

.auth_input_phone {
    height: 50px;
    padding: 0 15px;
    font: 16px sans-serif;
    width: calc(100% - 50px);
    border: none;
}

.icon_question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.fa-question-circle {
    font-size: 20px;
    color: rgb(117, 117, 117);
}

.tooltip {
    position: relative;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
    margin-left: -100px;
    background-color: rgb(102, 102, 102);
    color: rgb(238, 238, 238);
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    position: absolute;
    z-index: 1;
    }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    cursor: pointer;
  }

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  