


.cart_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: solid rgb(158, 158, 158) 1px;
    padding-top: 50px;
}

.cart_card {
    width: 60%;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
}

.cart_card a{
    text-decoration: none;
}

#img_Cart {
    width: auto;
    height: 150px;
    margin-right: 20px;
}

#img_Cart img{
    max-height: 100%;
}

.text_cart_card {
    // max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-shrink: 1;
    margin-right: 20px;
    // border: solid rgb(57, 33, 197) 1px;
}

.cart_block_details {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; 
}

.cart_block_details select{
    margin-right: 15px; 
    margin-left: 7px;
    border: none;
}

.cart_block_details select:hover{
    cursor: pointer;
}

.cart_block_price {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto 40px auto auto;
    // border: solid 1px rgb(175, 23, 23);
}

.text_cart_card_price {
    margin-right: 50px;
}

.text_cart_card_2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.text_cart_card_2 span,
#total_priceId, 
.cart_total_price span {
    font-size: 18px;
    font-weight: bold;
}

.cart_block_quantity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 15px;
    // border: solid 1px rgb(175, 23, 23);
}

#quantityBuy {
    margin-top: auto;
    margin-bottom: auto;
}

.btn-quantity:hover {
    cursor: pointer;
    font-weight: bold;
}

.delete_from_cart {
    width: 60px;
    height: 100%;
    margin-left: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}


.delete_from_cart button{
    background: transparent; 
    border: none;
    padding: 0;
}

.delete_from_cart span{
    font-size: 16px;
    opacity: .7;
    color: rgb(197, 17, 17);
    transition: ease-in-out .2s;
}

.delete_from_cart span:hover{
    font-weight: bold;
    cursor: pointer;
}


.cart_total_price,
.btn_passerCommande {
    width: 60%;
    height: auto;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
}

.btn_passerCommande {
    border: none;
    padding-right: 0;
    // margin-top: 30px;
}

#total_priceId {
    font-size: 20px;
    margin: 20px 0;
}

#btn_passer_commande {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    border: solid rgb(218, 218, 218) 1px;
    background-color: rgb(218, 26, 26);
    color: white;
    transition: ease-in-out .15s;
}

#btn_passer_commande:hover {
    cursor: pointer;
    color: blanchedalmond;
    letter-spacing: 1px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

// PAYMENT

.container_payment {
    width: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: solid rgb(218, 218, 218) 1px;
}

.payment_auth_inscription {
    width: 90%;
    max-width: 600px;
}

.payment_cart_product_wrapper {
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
    padding: 0 30px
}

.payment_card {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
}

.payment_card a{
    text-decoration: none;
}

#img_payment {
    width: auto;
    height: 80px;
    margin-right: 20px;
}

#img_payment img{
    max-height: 100%;
}

#payment_name {
    font-size: 15px;
}

.payment_block_details {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; 
}

.payment_block_quantity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    // border: solid 1px rgb(175, 23, 23);
}

#payment_Detail_name,
#payment_Detail_value,
#payment_quantityBuy {
    margin-right: 10px;
}

.payment_price_list {
    font-size: 17px;
}

.payment_total_priceId {
    font-size: 20px;
    font-weight: bold;
}


.payment_total_price {
    width: 100%;
    height: auto;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    border: solid rgb(218, 218, 218) 1px;
    border-radius: 5px;
}

.payment_total_price span{
    font-size: 18px;
    font-weight: bold;
}