$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

* {
    box-sizing: border-box;
}

.container_sheet {
    width: 100%;
    min-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    // border: solid 2px rgb(0, 255, 85);
}

.product_sheet {
    width: 60%;
    height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin: 50px 0 0 0;
    padding: 0;
    // border: solid 2px rgb(4, 0, 255);
}

////////////// images //////////////
.image_product {
    position: relative;
    width: 55%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    // border: dashed 4px rgb(255, 0, 0);
}

#slide-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 100px;
    height: 500px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid rgb(241, 44, 44);
}

#featured {
    max-height: 500px;
    max-width: 350px;
    margin-left: 140px;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail {
    display: block;
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    // border: 2px solid black;
}

.thumbnail:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

#slider {
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    // border: 4px solid rgb(255, 218, 7);
}

.arrow-wrapper {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.arrow {
    width: 30px;
    height: auto;
    margin: 10px;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.1s;
}

.arrow:hover {
    transform: scale(1.2);
    opacity: 0.6;
}

///// text sheet ////////////////
.text_product {
    width: 40%;
    margin-left: auto;
    // border: solid 2px rgb(4, 0, 255);
}

.text_product h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 20px 20px 0;
}

.text_product h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 20px 20px 20px 0;
}

.text_product #price_product {
    width: 100px;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 20px 20px 0;
    padding: 10px;
    background-color: rgb(255, 237, 138);
}

.wrapper_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.block_detail {
    flex: 1;
    margin-bottom: 20px;
}
.text_product #nomDetail {
    font-size: 18px;
    margin: 10px 20px 10px 0;
    font-weight: bold;
}

.details {
    font-size: 18px;
    margin: 0 20px 10px 0;
}

.radio_item {
    display: none !important;
}

.label_item {
    border: rgb(228, 228, 228) solid 1px;
    padding: 5px;
    margin: 10px 2px;
}

.label_item:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

.radio_item:checked + label {
    opacity: 1;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
}

.missingDetails {
    font-size: 14px;
    font-weight: bold;
    color: red;
    display: none;
}

#quantityBuy {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 20px 5px 0;
}

.addToCart {
    width: 220px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 20px 5px 0;
    background-color: crimson;
    color: white;
    border: none;
    transition: ease-out 0.1s;
}

.addToCart:hover {
    background-color: rgb(180, 8, 43);
    cursor: pointer;
}

// Modal_cart /////////////////////////////////////
/* modal_cart background */
.modal_cart {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal_cart Content */
.modal-content_cart {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: none;
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop_cart;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop_cart;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop_cart {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop_cart {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal-body_cart {
    padding: 2px 16px;
}

.btn_modal_cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn_modal_cart button {
    padding: 10px 30px;
    border: 1px solid rgb(184, 184, 184);
    background-color: white;
    color: rgb(119, 119, 119);
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    transition: ease-in-out 0.15s;
}

.btn_modal_cart button:hover {
    border: 1px solid rgb(63, 63, 63);
    border-radius: 7px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

// Quantity input & button ///////////////
.wrapper_quantity {
    width: 90px;
    height: 30px;
    display: flex;
}

.nbArticles input[type="text"] {
    width: 30px;
    margin: 0;
}

.wrapper_quantity button {
    margin: 0;
    width: 30px;
    border: none;
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(190, 23, 23);
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nbArticles_input {
    width: 30px;
    text-align: center;
    border: none;
    border-top: 1px;
    border-bottom: 1px;
    // border-color: rgb(240, 66, 66);
}

.nbArticles_input:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

////////// technical_sheet /////////////////////////

.technical_sheet {
    width: 60%;
    border: solid rgb(223, 223, 223) 1px;
    padding: 20px;
    margin: 50px 0 0 0;
}

.technical_sheet p {
    margin: 10px 0;
}

.technical_sheet ul {
    margin: 10px 0;
    margin-left: 20px;
}

////////// PROMO /////////////////////////

.promo_wrapper {
    width: 60%;
    border: solid rgb(223, 223, 223) 1px;
    padding: 20px;
    margin: 50px 0;
}

.promo_wrapper h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}

.promo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.image_promo {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image_promo img {
    height: 100%;
    width: auto;
    margin: 0 20px;
}

.priceAndAddCart {
    margin-left: 40px;
}

#textPrixPromo {
    margin-bottom: 20px;
    font-size: 16px;
}

.checkbox_promo {
    margin-bottom: 10px;
    margin-right: 5px;
}

#finalPrice {
    color: green;
    font-size: 16px;
}

#previousPrice {
    text-decoration: line-through;
    color: rgb(190, 23, 23);
    font-size: 16px;
}

////////// REVIEWS ////////////////
.reviews_wrapper {
    width: 60%;
    border: solid rgb(223, 223, 223) 1px;
    padding: 20px;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

#commentaire-1 .fas {
    font-size: 14px;
    color: #f8ce0b;
}

#commentaire-1 .far {
    font-size: 14px;
}

#header_reviews_wrapper {
    display: flex;
    width: 100%;
    height: auto;
}

#reviewBtn {
    display: inline-block;
    width: 170px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    // padding: 10px 0;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    border: solid 1px rgb(228, 228, 228);
    border-radius: 5px;
    transition: ease-out 0.1s;
}

#reviewBtn:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

#showReviews {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
    margin-top: 20px;
    // border: solid 1px red;
}

.customerReview {
    width: 100%;
    padding: 10px;
    border: solid 1px rgb(199, 199, 199);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.customerReview:hover {
    cursor: pointer;
}

.imageReview {
    width: 100%;
    margin-bottom: 5px;
}

#customerNameReview {
    width: 100%;
    margin-bottom: 3px;
    display: flex;
}

#dateReview {
    font-size: 10px;
    color: rgb(107, 107, 107);
    margin-bottom: 10px;
}

#starsReview {
    display: flex;
    margin-bottom: 10px;
    color: #f79c13;
    font-size: 12px;
}

#textSlideReview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

// ---------- MODAL CUSTOMER CARD WITH IMAGES ----------- //

/* ///////////// MODAL CARD  //////////////// */
.modal-card {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-card-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    width: 1000px;
    max-width: 1000px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close-card {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    position: absolute;
    right: 20px;
    color: rgb(71, 71, 71);
    background-color: rgb(230, 230, 230);
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.close-card:hover,
.close-card:focus {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    cursor: pointer;
}

// ---------- SLIDER CUSTOMER IMAGES ----------- //
/* Slideshow container */
#slideshow-container {
    // width: 60%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px 0 0 10px;
    //   border: dashed 5px rgb(0, 174, 255);
}

.mySlides {
    display: block;
}

img.mySlides {
    vertical-align: middle;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(219, 219, 219);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: solid 1px rgb(110, 110, 110);
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.prev {
    left: 0;
    border-radius: 0 10px 10px 0;
    border-left: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

#slideText-container {
    // width: 40%;
    height: 600px;
    padding: 20px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    // border: dashed 2px rgb(0, 17, 255);
}

#divStars {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

#divStars .fas {
    font-size: 14px;
    color: #f8ce0b;
}

#divStars .far {
    font-size: 14px;
}

#slideText-container #slideText-body {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    scrollbar-color: rgb(0, 0, 0) rgb(104, 104, 104);
    scrollbar-width: thin;
    margin: 5px 0 10px 0;
    padding: 10px 5px 10px 0;
    // border: solid red 1px;
}

#slideText-container #slideText-body::-webkit-scrollbar {
    width: 10px;
}

#miniImgReviewDiv::-webkit-scrollbar {
    height: 10px;
}

#slideText-container #slideText-body::-webkit-scrollbar-track,
#miniImgReviewDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

#slideText-container #slideText-body::-webkit-scrollbar-thumb,
#miniImgReviewDiv::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

#slideText-container #slideText-body::-webkit-scrollbar-thumb:hover,
#miniImgReviewDiv::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;
}

#miniImgReviewDiv {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px 0;
    overflow-x: scroll;
    scrollbar-color: rgb(0, 0, 0) rgb(104, 104, 104);
    scrollbar-width: thin;
}
#miniImgReviewDiv img {
    height: 100%;
    margin-right: 5px;
}

.miniImg {
    box-sizing: border-box;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

/* ///////////// MODAL REVIEW //////////////// */
/////////////////////////////////////////////////
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: rgb(112, 149, 250);
    font-size: 24px;
    transition: ease-in-out 0.15s;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-header {
    width: 100%;
    height: 40px;
    text-align: right;
    padding: 3px 16px 2px 0;
    background-color: rgb(230, 236, 255);
    color: white;
}

.modal-body {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: center;
    padding: 2px 16px;
}

.modal-body button {
    width: 350px;
    height: 50px;
    text-align: left;
    padding: 0 20px;
    margin: 15px 0;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    transition: ease-in-out 0.2s;
}

.modal-body button:hover {
    background-color: rgb(112, 149, 250);
    cursor: pointer;
}

#divTextReview {
    width: 90%;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    // border: solid red 1px;
}

#divTextReview label {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#textReview {
    width: 100%;
    height: 200px;
    margin: 20px 0 10px 0;
    font-size: 1rem;
    border-color: rgb(221, 221, 221);
}

#warningReview {
    display: none;
    color: red;
    font-size: 16px;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 2px 16px;
    background-color: rgb(230, 236, 255);
    color: white;
}

.block-FileReview-BtnNext {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#fileReview {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 0 20px;
    margin: 0 auto 15px 5%;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    color: black;
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}

#fileReview:hover {
    cursor: pointer;
    border: solid 2px rgb(112, 149, 250);
}

#nameFileReview {
    margin-right: auto;
    margin-left: 5%;
}

#nameFileReview {
    text-align: left;
}

#nameFileReview li {
    font-size: 14px;
}

#btn-review-next {
    width: 170px;
    height: 50px;
    text-align: center;
    padding: 0 20px;
    margin: 0 auto 15px 5%;
    border: none;
    border-radius: 5px;
    background-color: rgb(112, 149, 250);
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: ease-in-out 0.2s;
}

#btn-review-next:hover {
    background-color: rgb(51, 69, 170);
    cursor: pointer;
}

//////////  slider modal reviews  ///////////
* {
    box-sizing: border-box;
}

.sliderReviews {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#a-slide-1,
#a-slide-2,
#a-slide-3 {
    display: none;
}

.sliderReviews > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}

#barrePageReview-1,
#barrePageReview-2,
#barrePageReview-3 {
    width: 30px;
    height: 10px;
    display: inline-flex;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
    border: solid 1px rgb(112, 149, 250);
    transition: ease-in-out 0.5s;
}

#barrePageReview-1 {
    background: rgb(112, 149, 250);
}

.reviewsSlides {
    display: flex;

    overflow-x: hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
// .reviewsSlides::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
// }
// .reviewsSlides::-webkit-scrollbar-thumb {
//     background: black;
//     border-radius: 10px;
// }
// .reviewsSlides::-webkit-scrollbar-track {
//     background: transparent;
// }

.reviewsSlides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    // border: solid 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderReviews > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.sliderReviews > a:active {
    top: 1px;
}
.sliderReviews > a:focus {
    background: #000;
}

#commentaire-1,
#commentaire-2,
#commentaire-3,
#commentaire-4 {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 16px;
    // border: solid 2px red;
}

.arrowPrevious {
    width: 100%;
    height: 40px;
    text-align: left;
    margin-top: auto;
    margin-bottom: 10px;
    color: rgb(112, 149, 250);
}

i.fa-reply {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    transition: ease-in-out 0.2s;
    color: rgb(112, 149, 250);

    &:hover {
        color: black;
        cursor: pointer;
    }
}

#commentaire-3 {
    padding-top: 70px;
}

#emailReveiw {
    width: 350px;
    height: 50px;
    padding-left: 15px;
    border: solid 1px rgb(204, 204, 204);
}

#warningEmailReview {
    display: none;
    color: red;
    font-size: 16px;
}

#commentaire-3 p {
    width: 400px;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

#btn-accept-CGU,
#btn-closeReview {
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(112, 149, 250);
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: ease-in-out 0.2s;
}

#btn-accept-CGU:hover,
#btn-closeReview {
    background-color: rgb(51, 69, 170);
    cursor: pointer;
}
