@charset "UTF-8";
.payment_wrapper_register {
  width: 54%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.payment_wrapper_register h2 {
  font-size: 18px;
}

.ariane_payment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.ariane_payment a,
.ariane_payment span,
.ariane_payment .fa-chevron-right {
  color: #636363;
  font-size: 14px;
  text-decoration: none;
}
.ariane_payment a {
  color: #bb1e0c;
}

.auth {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-right: 40px;
  padding: 40px 0x;
  border-radius: 5px;
  font-family: sans-serif;
}

.register_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.alreadyAccount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
}

.alreadyAccount span {
  margin-right: 5px;
}

.alreadyAccount a {
  text-decoration: none;
  color: #cf0000;
  transition: ease-in-out 0.2s;
}

.alreadyAccount a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#information_block,
#shipping_block,
#payment_block,
#bill_block {
  width: 100%;
}

.register_block_name,
.register_block_cp_city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#email_container {
  margin-bottom: 20;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
}

.input-container_half {
  width: 48%;
}

.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #646464;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}

.input-container input,
.input-container select {
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  background: white;
  width: 100%;
  height: 50px;
  padding: 20px 0 5px 10px;
  font-size: 16px;
  color: #7e7e7e;
}

.input-container select {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-container input:focus,
.input-container select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #bb1e0c;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label,
.input-container select:focus ~ label,
.input-container select:valid ~ label {
  top: 5px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6 !important;
}

#block_password label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: normal;
  opacity: 1 !important;
  color: #646464;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}

input[type=radio] {
  opacity: 1;
}

/* arrows */
.auth select.classic {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, #f7f7f7, #fcfcfc);
  background-position: calc(100% - 25px) calc(50%), calc(100% - 20px) calc(50%), 100% 0;
  background-size: 5px 5px, 5px 5px, 50px 50px;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.missingFieldMessage {
  color: #b90000;
  display: none;
  font-size: 13px;
  font-weight: bold;
}

/* clears the ‘X’ in input type search for Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ in input type search for Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.missingMargin {
  margin-top: 4px;
  height: 13px;
}

.phone {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.auth_input_phone {
  height: 50px;
  padding: 0 15px;
  font: 16px sans-serif;
  width: calc(100% - 50px);
  border: none;
}

.icon_question {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fa-question-circle {
  font-size: 20px;
  color: #757575;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-bottom: 15px;
  margin-left: -100px;
  background-color: #666666;
  color: #eeeeee;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  cursor: pointer;
}

@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#shipping_block {
  display: none;
  margin-bottom: 10px;
}

#payment_block {
  display: none;
}

#Adresse_de_facturation {
  margin-top: 55px;
  margin-bottom: 5px;
}

#payment_block p {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 0;
  color: #757575;
}

#bill_block {
  display: none;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 30px 15px 15px 15px;
  border: solid #c4c4c4;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}

#shipping_block h2,
#payment_block h2 {
  margin-bottom: 20px;
}

#shipping_block h2:nth-of-type(2) {
  margin-top: 20px;
}

.stripe_wrapper {
  width: 100%;
  margin-top: 40px;
}

.block_stripe {
  padding: 20px 10px;
  background-color: #fafafa;
  border: solid 1px #c4c4c4;
}

#header_stripe {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  border: none;
  border: solid #c4c4c4;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}

#header_stripe h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.icon_cards {
  margin-left: auto;
}

#header_stripe img {
  height: 22px;
}

#card-element,
#card_name {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding: 15px 10px 0 10px;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  background-color: white;
}

.rgpd,
.conserve {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

#rgpd,
#conserve {
  margin-right: 10px;
  margin-left: 0;
  width: 18px;
}

#label_rgpd,
#label_conserve {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  line-height: 16px;
}

.control_coordonees,
.mode_expedition {
  width: 100%;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 0;
}

.adresse_facturation {
  width: 100%;
  border: solid 1px #c4c4c4;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  margin-bottom: 0;
}

.contact_control,
.adress_control,
.standard_ship,
.secure_ship,
.mode_shipping_control,
.idem_address,
.different_address {
  width: 100%;
  height: auto;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  color: #7e7e7e;
}

.contact_control,
.standard_ship,
.idem_address {
  border: none;
  border-bottom: solid 1px #c4c4c4;
}

.different_address {
  border: none;
}

.mode_shipping_control {
  border: none;
  border-top: solid 1px #c4c4c4;
}

.contact_control span,
.adress_control span,
.mode_shipping_control span,
.standard_ship label,
.secure_ship label,
.idem_address label .different_address label {
  margin-right: 20px;
  font-size: 14px;
  text-align: left;
}

.contact_control span:first-child,
.adress_control span:first-child,
.mode_shipping_control span:first-child {
  width: 90px;
  text-align: left;
}

.contact_control h6,
.adress_control h6,
.mode_shipping_control h6 {
  margin-left: auto;
  font-size: 14px;
  color: #b60000;
}

.standard_ship input,
.secure_ship input,
.idem_address input,
.different_address input {
  height: 16px;
  margin-right: 10px;
  background-color: white;
}

.standard_ship h6,
.secure_ship h6 {
  margin-left: auto;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
}

.contact_control h6:hover,
.adress_control h6:hover,
.mode_shipping_control h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.auth_footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#footer_shipping_block {
  display: none;
}

#authRegisterSubmit,
#shippingRegisterSubmit {
  height: 50px;
  margin: 0;
  background-color: #b60000;
  color: white;
  font-size: 15px;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
}

#shippingRegisterSubmit {
  display: none;
}

#submit-button {
  height: 50px;
  margin: 0;
  background-color: #356bff;
  color: white;
  font-size: 15px;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
}

#submit-button {
  display: none;
}

.payment_link {
  display: none;
  margin-left: 20px;
  color: #c00000;
  font-size: 14px;
  text-decoration: none;
}

.payment_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.auth button {
  width: auto;
  padding: 8px 15px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px #858585;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.auth_checkbox {
  width: 15px;
}

#infosRgpd {
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  color: #757575;
  opacity: 0.8;
}
