*, ::before,::after {
    // font-family: 'Poppins', sans-serif;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(80, 80, 80);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collection-main-container {
    min-width: 985px;
    width: 60%;
    min-height: 130vh;
    margin: auto;
    padding-bottom: 300px;
    display: grid;
    grid-template-columns: calc(66.6666% - 10px) calc(33.3333% - 10px);
    grid-gap: 10px;
    // border: solid 2px rgb(52, 184, 0);
}

.collection-block-container {
    width: 100%;
    // border: solid 2px red;
}

.div-vert-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px 20px 35px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: relative;
    // border: solid 1px rgb(52, 184, 0);

    label {
        width: 100%;
        margin-right: 30px;
        // border: solid 2px rgb(255, 238, 0);
    }

    input[type="text"],
    input[type="number"],
    input[type="datetime-local"],
    select,
    #activationDate {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        border-radius: 5px;
        border: solid 1px rgb(220, 220, 220);
    }

    select.flatpickr-monthDropdown-month:hover {
        background-color: #005ac5 !important;
    }

    select:hover {
        cursor: pointer;
    }

    select option:hover {
        background-color: rgb(164, 189, 255);
        cursor: pointer;
    }

    input[type="radio"] {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border: solid 1px rgb(220, 220, 220);
    }

    input[type="radio"]:hover {
        cursor: pointer;
    }

    textarea {
        width: 100%;
        min-height: 150px;
        padding: 20px;
        border-radius: 5px;
        border: solid 1px rgb(220, 220, 220);
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        overflow-wrap: break-word;
    }

    strong {
        font-size: 15px;
    }
}

.btn-bcknd {
    height: 50px;
    padding: 0 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 99, 99);
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.15s;
}

.btn-bcknd:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.btn-submit {
    height: 50px;
    padding: 0 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 82, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.15s;
}

.btn-submit:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.btn-effacer-tout {
    margin-left: auto;
    position: relative;
    top: -10px;
    background-color: rgb(255, 255, 255);
    border: rgb(209, 0, 0) solid 2px;
    color: rgb(221, 0, 0);
    border-radius: 25px;
    font-size: 17px;
}

.btn-effacer-tout:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: rgb(209, 0, 0) solid 2px;
    color: rgb(221, 0, 0);
    border-radius: 25px;
    box-shadow: 1px 1px 3px rgba(88, 88, 88, 0.6);
}

.div-label-inputTxt,
.sub-div-vert-align {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // border: solid 2px rgb(17, 120, 218);
}

.sub-div-vert-align-border-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: rgb(220, 220, 220) solid 1px;
}

.div-radio-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.div-radio-label label:hover {
    cursor: pointer;
}

.sub-div-horiz-align {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // border: solid 1px red;
}

.sub-div-vert-align p,
.sub-div-horiz-align p,
.sub-div-vert-align span,
.sub-div-horiz-align span {
    width: 100%;
    overflow-wrap: break-word;
}

.sub-div-horiz-align p {
    max-width: 100%;
}

.block-select-conditions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30px;
    column-gap: 10px;
    align-content: center;
    margin-bottom: 15px;

    // for input & span
    .input-span {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .typeValue {
        width: 35px;
        padding-left: 3px;
        text-align: center;
    }

    .remove-condition {
        width: 30px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trashRemoveCondition {
        display: inline !important;
        font-size: 28px;
        color: black;
        margin: 0;
    }
}

// side -------------------------------
// .side-create-collection {

//     // border: solid 1px rgb(52, 184, 0);
// }

.settings {
    width: 25px;
}

// popup '?' infos --------------------------
.collection-main-container .fa-question-circle {
    font-size: 16px;
    color: rgb(117, 117, 117);
    margin-left: 6px;
}

.tooltip {
    position: relative;
}

/* Tooltip text */
.collection-main-container .tooltip .tooltiptext {
    visibility: hidden;
    max-width: 300px;
    bottom: 100%;
    // left: 50%;
    margin-bottom: 15px;
    // margin-left: -100px;
    background-color: rgb(255, 255, 255);
    color: rgb(75, 75, 75);
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
}

/* Show the tooltip text when you mouse over the tooltip container */
.collection-main-container .tooltip:hover .tooltiptext {
    visibility: visible;
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    cursor: pointer;
}

/* Toggle Button ------------------------------*/
.cm-toggle {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
    content: "";
    width: 48px;
    height: 24px;
    display: inline-block;
    background: rgba(204, 204, 204, 0.55);
    border-radius: 12px;
    clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
    left: 24px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
    background: #005cc8;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}
//----------------------------------------toogle button

.apercuMetaTitle2 {
    color: rgb(187, 187, 187);
    max-width: 100%;
}

.inRed {
    font-size: 14px;
    color: red;
}

.succesMessage {
    display: block;
    font-size: 18px;
    color: rgb(11, 179, 11);
}

// category --------------------------------------
.pos-abs-bot-rig-15 {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.categorySelect {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.btn-select-category {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 99, 99);
    border-radius: 5px 5px 0 0;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.15s;
}

.btn-select-category:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.ul-category {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding-top: 5px;
    border-radius: 0 0 5px 5px;
    border: rgb(220, 220, 220) solid 1px;
}

.ul-category::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.ul-category::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
}

.ul-category::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(19, 82, 255);
}

.li-category {
    min-width: 250px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-bottom: rgb(220, 220, 220) solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-category:hover {
    cursor: pointer;
    background-color: rgb(218, 229, 255);
}

.li-category:first-child {
    border-top: none;
}

.li-category:last-child {
    border-bottom: none;
}

.li-category:hover span {
    cursor: pointer;
    color: rgb(52, 115, 252);
    font-weight: bold;
}

.li-category span:hover {
    cursor: pointer;
    color: rgb(52, 115, 252);
    font-weight: bold;
}

.collection-main-container .fa-crop,
span.trash-alt-dropZone {
    font-size: 18px;
}

.collection-main-container .fa-crop:hover {
    cursor: pointer;
    color: rgb(53, 117, 255);
    font-weight: bold;
}

.collection-main-container .fa-trash-alt {
    display: none;
    font-size: 18px;
    transition: ease-in-out 0.15s;
}

.collection-main-container .fa-trash-alt:hover {
    cursor: pointer;
    color: rgb(224, 0, 0);
    font-weight: bold;
}

.collection-main-container .fa-recycle {
    display: none;
    font-size: 18px;
    margin-right: 10px;
    transition: ease-in-out 0.15s;
}

.collection-main-container .fa-recycle:hover {
    cursor: pointer;
    color: rgb(91, 181, 255);
    font-weight: bold;
}

.btn-select-category .fa-trash-alt:hover {
    cursor: pointer;
    color: rgb(224, 0, 0);
    font-weight: bold;
}

.btn-select-category .fa-recycle:hover {
    cursor: pointer;
    color: rgb(91, 181, 255);
    font-weight: bold;
}

.li-category:hover .fa-recycle {
    display: inline;
}

.li-category:hover .fa-trash-alt {
    display: inline;
}

.childrenModal {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin: 30px 0 0 0;
}


// detect smartphone and tablette screen
@media only screen and (hover: none) and (pointer: coarse){

    /* Regular CSS rules here*/
    
    }
