* {
    // font-family: 'Poppins', sans-serif;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(80, 80, 80);
    margin: 0;
    padding: 0;
}

.collection-main-container {
    min-width: 985px;
    width: 60%;
    min-height: 130vh;
    margin: auto;
    padding-bottom: 300px;
    display: grid;
    grid-template-columns: calc(66.6666% - 10px) calc(33.3333% - 10px);
    grid-gap: 10px;
    // border: solid 2px rgb(52, 184, 0);
}

.collection-block-container {
    width: 100%;
    // border: solid 2px red;
}

.div-vert-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px 20px 35px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    // border: solid 1px rgb(52, 184, 0);

    label {
        width: 100%;
        margin-right: 30px;
        // border: solid 2px rgb(255, 238, 0);
    }

    input[type="text"],
    input[type="number"],
    input[type="datetime-local"],
    select {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        border-radius: 5px;
        border: solid 1px rgb(220, 220, 220);
    }

    select:hover {
        cursor: pointer;
    }

    select option:hover {
        background-color: rgb(164, 189, 255);
        cursor: pointer;
    }

    input[type="radio"] {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border: solid 1px rgb(220, 220, 220);
    }

    input[type="radio"]:hover {
        cursor: pointer;
    }

    textarea {
        width: 100%;
        min-height: 150px;
        padding: 20px;
        border-radius: 5px;
        border: solid 1px rgb(220, 220, 220);
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    strong {
        font-size: 15px;
    }
}

.btn-bcknd {
    height: 50px;
    padding: 0 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 99, 99);
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.15s;
}

.btn-bcknd:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.btn-submit {
    height: 50px;
    padding: 0 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 82, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 1px rgb(220, 220, 220);
    transition: ease-in-out 0.15s;
}

.btn-submit:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(250, 250, 250);
    border: solid 1px rgb(19, 82, 255);
}

.div-label-inputTxt,
.sub-div-vert-align {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    // border: solid 2px rgb(17, 120, 218);
}

.sub-div-vert-align-border-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: rgb(220, 220, 220) solid 1px;
}

.div-radio-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // border: solid 2px rgb(255, 0, 76);
}

.div-radio-label label:hover {
    cursor: pointer;
}

.sub-div-horiz-align {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // border: solid 2px rgb(255, 0, 76);
}

.block-select-conditions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 15px;

    // for input & span
    .input-span {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .w30 {
        width: 30px;
        padding-left: 3px;
        text-align: center;
    }
}

// side -------------------------------
// .side-create-collection {

//     // border: solid 1px rgb(52, 184, 0);
// }

.settings {
    width: 25px;
}


// popup '?' infos --------------------------
.collection-main-container .fa-question-circle {
    font-size: 16px;
    color: rgb(117, 117, 117);
    margin-left: 6px;
}

.tooltip {
    position: relative;
}

/* Tooltip text */
.collection-main-container .tooltip .tooltiptext {
    visibility: hidden;
    min-width: 200px;
    width: 300px;
    bottom: 100%;
    // left: 50%;
    margin-bottom: 15px;
    // margin-left: -100px;
    background-color: rgb(102, 102, 102);
    color: rgb(238, 238, 238);
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.collection-main-container .tooltip:hover .tooltiptext {
    visibility: visible;
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    cursor: pointer;
}

/* Toggle Button ------------------------------*/
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 48px;
	height: 24px;
	display: inline-block;
	background: rgba(204, 204, 204, 0.55);
	border-radius: 12px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 24px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #005cc8;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}
//----------------------------------toogle button

.apercuMetaTitle2 {
    color: rgb(187, 187, 187);
}

.inRed {
    font-size: 14px;
    color: red;
}